apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
  namespace: kafka
data:
  base.properties: |
    process.roles=broker,controller
    controller.listener.names=CONTROLLER
    listeners=PLAINTEXT://:9092,CONTROLLER://:9093
    inter.broker.listener.name=PLAINTEXT
    log.dirs=/var/lib/kafka/data
    controller.quorum.bootstrap.servers=kafka-0.kafka-service.kafka.svc.cluster.local:9093,kafka-1.kafka-service.kafka.svc.cluster.local:9093
    controller.quorum.voters=0@kafka-0.kafka-service.kafka.svc.cluster.local:9093,1@kafka-1.kafka-service.kafka.svc.cluster.local:9093

---
apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  namespace: kafka
spec:
  ports:
    - name: kafka
      port: 9092
      protocol: TCP
      targetPort: 9092
    - name: controller
      port: 9093
      protocol: TCP
      targetPort: 9093
  clusterIP: None  # Headless Service (Quan trá»ng)
  selector:
    app: kafka

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  namespace: kafka
spec:
  serviceName: kafka-service
  replicas: 2
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: apache/kafka:latest
          command: ["/bin/bash", "-c"]
          args:
            - |
              NODE_ID=${HOSTNAME##*-}
              CLUSTER_ID="shaGgVSiR3W05yPkn_pkgw"
              echo "node.id=$NODE_ID" >> /opt/kafka/config/server.properties
              echo "advertised.listeners=PLAINTEXT://kafka-$NODE_ID.kafka-service.kafka.svc.cluster.local:9092,CONTROLLER://kafka-$NODE_ID.kafka-service.kafka.svc.cluster.local:9093" >> /opt/kafka/config/server.properties
              cat /kafka/config/base.properties >> /opt/kafka/config/server.properties
              /opt/kafka/bin/kafka-storage.sh format -t $CLUSTER_ID -c /opt/kafka/config/server.properties
              /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
          ports:
            - containerPort: 9092
            - containerPort: 9093
          volumeMounts:
            - name: datadir
              mountPath: /var/lib/kafka/data
            - name: config
              mountPath: /kafka/config
      volumes:
        - name: config
          configMap:
            name: kafka-config
  volumeClaimTemplates:
    - metadata:
        name: datadir
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: local-path
        resources:
          requests:
            storage: 1Gi
anhkhoa@master:~/HPC_lab/lab4/k8s/manifests$ cat server-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitor-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitor-server
  template:
    metadata:
      labels:
        app: monitor-server
    spec:
      containers:
        - name: server
          image: khoalva/monitor-server:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 50051
          env:
            - name: KAFKA_BROKERS
              value: "kafka-service.kafka.svc.cluster.local:9092"
            - name: LOG_LEVEL
              value: "INFO"

---
apiVersion: v1
kind: Service
metadata:
  name: monitor-server
spec:
  selector:
    app: monitor-server
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP